{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Gestion des projets
{% endblock %}
{% block active2 %} class="sub-menu active" {% endblock %}
{% block active21 %} class="active" {% endblock %}
{% block descheader %}

{% endblock %}

{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <div class="card">
        <div class="card-header" style="display:inline-flex">
            <input type="text" class="search-field form-control" placeholder="Rechercher..."/>
            <button class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-search"></i></button>
        </div>
        <table id="data-table-basic" class="table table-striped">
            <thead>
            <tr>

                <th style="color: #0a6ebd" data-column-id="nom">Nom</th>
                <th style="color: #0a6ebd" data-column-id="description">Description</th>
                <th style="color: #0a6ebd" data-column-id="datedebut" data-order="desc">Date debut</th>
                <th style="color: #0a6ebd" data-column-id="datefin" data-order="desc">Date fin</th>
                <th style="color: #0a6ebd" data-column-id="equipe" data-order="desc">Equipe</th>
                <th style="color: #0a6ebd" data-column-id="nom">Nom Chef du projet</th>
            </tr>
            </thead>
            <tbody>
            {% for x in projets %}
                <tr>
                    <td>{{ x.nomprojet }}</td>
                    <td>{{ x.description }}</td>
                    <td>{{ x.dateDebut|date('Y-m-d') }}</td>
                    <td>{{ x.dateFin|date('Y-m-d') }}</td>
                    <td>{{ x.equipe }}</td>
                    <td>{{ app.user.nom }}</td>
                    <td><a  href="{{ path('espritsocialpro_update_projets',{'idprojet':x.idprojet}) }}" class='btn palette-Light-Green bg btn-icon waves-effect waves-circle waves-float'><span class='zmdi zmdi-edit'></span></a>
                        <a  href="{{ path('espritsocialpro_supp_projets',{'idprojet':x.idprojet}) }}" class='btn btn-danger btn-icon waves-effect waves-circle waves-float'><span class='zmdi zmdi-delete'></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% block tabscript %}

    {% endblock %}
{% endblock %}
