<div class="raw">
    {% if topic.resolved == false %}
    <a class="btn palette-Teal bg pull-right"  href="{{ path('discutea_label_solved', {'slug': topic.slug}) }}">
        <i class="zmdi zmdi-check-circle zmdi-hc-fw"></i>{{ 'discutea.forum.label.solved'|trans }}</a>
    {% endif %}
    {% if is_granted('ROLE_MODERATOR') %}
      <a href="{{ path('discutea_label_closed', {'slug': topic.slug}) }}">{{ 'discutea.forum.label.closed'|trans }}</a>
      {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('discutea_label_pinned', {'slug': topic.slug}) }}">{{ 'discutea.forum.label.pinned'|trans }}</a>
      {% endif %}
    {% endif %}
</div>

