{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Gestion des Offres
{% endblock %}

{% block active7 %} class="active" {% endblock %}

{% block descheader %}

{% endblock %}

{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <div class="card">
        <div class="pull-right">
            <div class="card-header">
                <p>
                    <a class="btn palette-Teal bg" href="{{ path('espritsocialpro_ajoutoffre') }}"><i
                                class="zmdi zmdi-plus-circle zmdi-hc-fw"></i> Ajouter</a>
                </p>
            </div>
        </div>

        <div class="card-header" style="display:inline-block">
            {{ form_start(form) }}
            <table>
                <tr>
                    <td>{{ form_widget(form.description,
                        { 'attr': {'class': 'search-field form-control','placeholder':'Rechercher...'} }) }}
                    </td>

                    <td>{{ form_widget(form.Rechercher,
                        { 'attr': {'class': 'btn btn-info'} }) }}
                    </td>

                    {#<a href="#" class="btn btn-info"><i class="zmdi zmdi-search"></i></a>#}
                </tr>
            </table>

            {{ form_end(form) }}


        </div>

        <table id="data-table-basic" class="table table-striped">
            <thead>
            <tr>
                <th data-column-id="idoffre" data-order="desc" data-identifier="true">Id</th>
                <th data-column-id="description">Description</th>
                <th data-column-id="motscles" data-order="desc">Mots clés</th>
                <th data-column-id="contact" data-order="desc">Contact</th>
                <th data-column-id="dateDebut" data-order="desc">Date début</th>
                <th data-column-id="dateFin" data-order="desc">Date fin</th>
                <th data-column-id="commands" data-formatter="commands" data-sortable="false">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for offre in offres %}
                <tr>
                    <td>{{ offre.idoffre }}</td>
                    <td>{{ offre.description }}</td>
                    <td>{{ offre.motscles }}</td>
                    <td>{{ offre.contact }}</td>
                    <td>{{ offre.dateDebut }}</td>
                    <td>{{ offre.dateFin }}</td>
                    <td>
                        <a href="{{ path('espritsocialpro_modifoffre',{'id':offre.idoffre}) }}"
                           class='btn palette-Light-Green bg btn-icon waves-effect waves-circle waves-float'>
                            <span class='zmdi zmdi-edit'></span>
                        </a>
                        <a href="{{ path('espritsocialpro_suppoffre',{'id':offre.idoffre}) }}"
                           class='btn btn-danger btn-icon waves-effect waves-circle waves-float'>
                            <span class='zmdi zmdi-delete'></span>
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% block tabscript %}

    {% endblock %}

{% endblock %}
