{% trans_default_domain 'FOSUserBundle' %}


<form action="{{ path('fos_user_registration_register') }}" method="POST">
    <div class="form-group" id="fos_user_registration_form">
        <table>
            <tr>
                <td>{{ form_label(form.email) }}</td>
                <td>{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}</td>
                <td>{{ form_errors(form.email) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.username) }}</td>
                <td>{{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}</td>
                <td>{{ form_errors(form.username) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.plainPassword.first) }}</td>
                <td>{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}</td>
                <td>{{ form_errors(form.plainPassword.first) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.plainPassword.second) }}</td>
                <td>{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}</td>
                <td>{{ form_errors(form.plainPassword.second) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.nom) }}</td>
                <td>{{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}</td>
                <td>{{ form_errors(form.nom) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.prenom) }}</td>
                <td>{{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}</td>
                <td>{{ form_errors(form.prenom) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.matricule) }}</td>
                <td>{{ form_widget(form.matricule, { 'attr': {'class': 'form-control', 'placeholder': 'Matricule' } }) }}</td>
                <td>{{ form_errors(form.matricule) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.numtel) }}</td>
                <td>{{ form_widget(form.numtel, { 'attr': {'class': 'form-control', 'placeholder': 'Numtel' } }) }}</td>
                <td>{{ form_errors(form.numtel) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.adresse) }}</td>
                <td>{{ form_widget(form.adresse, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse' } }) }}</td>
                <td>{{ form_errors(form.adresse) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.fonction) }}</td>
                <td>{{ form_widget(form.fonction, { 'attr': {'class': 'form-control', 'placeholder': 'Fonction' } }) }}</td>
                <td>{{ form_errors(form.fonction) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.nbprojets) }}</td>
                <td>{{ form_widget(form.nbprojets, { 'attr': {'class': 'form-control', 'placeholder': 'Nbprojets' } }) }}</td>
                <td>{{ form_errors(form.nbprojets) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.evaluation) }}</td>
                <td>{{ form_widget(form.evaluation, { 'attr': {'class': 'form-control', 'placeholder': 'Evaluation' } }) }}</td>
                <td>{{ form_errors(form.evaluation) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.roles) }}</td>
                <td>{{ form_widget(form.roles, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}</td>
                <td>{{ form_errors(form.roles) }}</td>
            </tr>
            <tr>
                <td>
                    <div>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ 'registration.submit'|trans }}">
                    </div>
                </td>
            </tr>
            <tr><td>{{ form_rest(form) }}</td></tr>
        </table>




    </div>

</form>
