{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Fil d'actualité
{% endblock %}

{% block active %} class="active" {% endblock %}

{% block descheader %}

{% endblock %}

{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <div class="row">
        <div class="col-md-8">
            {% if is_granted('ROLE_CHEF_DEP') or  is_granted('ROLE_CHEF_PROJET') %}

                <div class="card wall-posting">
                    <div class="card-body card-padding">
                        <textarea name="contenu" id="contenu" class="wp-text" data-auto-size placeholder="Publier..."></textarea>
                    </div>
                    <ul class="list-unstyled clearfix wpb-actions">
                        <li>
                            {% for tag in tags %}
                            <label class="radio radio-inline m-r-20">
                                <input id="tag" type="radio" name="tag" value="{{ tag.competence.description }}">
                                <i class="input-helper"></i>
                                {{ tag.competence.description }}
                            </label>
                            {% endfor %}
                        </li>

                        <li><button onclick="AjoutFil()" class="btn btn-primary btn-sm btn-icon"><i class="zmdi zmdi-check"></i></button></li>
                    </ul>
                </div>
            {% endif %}
         <div id="fils" style="overflow-y:scroll;max-height:1000px">
             {% for actu in actus %}
                 <div class="card">
                     <div class="card-header">
                         <div class="media">
                             <div class="pull-left">
                                 <img class="avatar-img a-lg" src="{{ asset('bundles/espritsocialpro/index/img/profile-pics/3.jpg') }}" alt="">
                             </div>

                             <div class="media-body m-t-5">
                                 {% if actu.utilisateur.id is defined %}
                                     <a href="{{ path('profilami' , {'id':actu.utilisateur.id })}}"><h2>{{ actu.utilisateur.nom }} {{ actu.utilisateur.prenom }}</a><small>Publié en {{ actu.datePublication|date("d M Y  h:s a") }}</small></h2>
                             {% endif %}
                             </div>
                         </div>
                     </div>

                     <div class="card-body card-padding p-t-0">
                         <p>{{ actu.contenu }}</p>
                     </div>
                 </div>
             {% endfor %}
        </div>
        </div>
        <div class="col-md-4 hidden-sm">
            <div class="card">
                <div class="card-header">
                    <h2>A propos de Moi</h2>
                </div>

                <div class="card-body card-padding">
                    Maecenas malesuada. Nam adipiscing. Etiam vitae tortor. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. <a data-ui-sref="pages.profile.profile-about"><small>Read more...</small></a>
                </div>
            </div>

            <div class="card picture-list">
                <div class="card-header">
                    <h2>Photos <small>Cras congue nec lorem eget posuere</small></h2>

                    <ul class="actions">
                        <li class="dropdown action-show" dropdown>
                            <a href="#" dropdown-toggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="#">Refresh</a>
                                </li>
                                <li>
                                    <a href="#">Manage Widgets</a>
                                </li>
                                <li>
                                    <a href="#">Widgets Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="pl-body clearfix">
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/7.png") }}" alt="">
                        </a>
                    </div>

                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/1.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/3.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/9.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/8.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/7.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/6.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/5.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/4.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/3.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/2.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/1.png") }}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>Contacter <small>Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero</small></h2>
                </div>
                <div class="card-body card-padding">
                    <div class="pmo-contact">
                        <ul>
                            <li class="ng-binding"><i class="zmdi zmdi-phone"></i> 00971123456789</li>
                            <li class="ng-binding"><i class="zmdi zmdi-email"></i> malinda.h@gmail.com</li>
                            <li class="ng-binding"><i class="zmdi zmdi-facebook-box"></i> malinda.hollaway</li>
                            <li class="ng-binding"><i class="zmdi zmdi-twitter"></i> @malinda (twitter.com/malinda)</li>
                            <li>
                                <i class="zmdi zmdi-pin"></i>
                                <address class="m-b-0 ng-binding">
                                    44-46 Morningside Road,<br>
                                    Edinburgh,<br>
                                    Scotland
                                </address>
                            </li>
                        </ul>
                    </div>

                    <a class="pmo-map" href="#">
                        <img src="{{ asset("bundles/espritsocialpro/index/img/demo/map.png") }}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
<script>
        var ajax_affiche= function(){
            $.ajax({
                type:'POST',
                url:'{{ path("actus") }}',
                success: function (response) {
                    $("#fils").html(response);
                }
            });
        };
        var interval=1000*60*0.5;
        setInterval(ajax_affiche,interval);
        function AjoutFil() {
            var cont= document.getElementById("contenu").value;
            var tay=$('input[name="tag"]:checked').val();
            console.log(cont);
            console.log(tay);
            $.ajax({
                type:'POST',
                url:'{{ path("ajoutfil") }}',
                data:{contenu : cont , tag : tay },
                success: function (response) {
                    console.log(response);
                }
            });
            document.getElementById("contenu").value="";
            ajax_affiche();
        }
</script>
{% endblock %}
