{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Fil d'actualité
{% endblock %}

{% block active %} class="active" {% endblock %}

{% block descheader %}

{% endblock %}

{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <div class="row">
        <div class="col-md-8">
            {% if is_granted('ROLE_CHEF_DEP') or  is_granted('ROLE_CHEF_PROJET') %}
                <div class="card wall-posting">
                    <div class="card-body card-padding">
                        <textarea class="wp-text" data-auto-size placeholder="Publier..."></textarea>

                        <div class="tab-content p-0">
                            <div class="wp-media tab-pane" id="wpm-image">
                                Images - Coming soon...
                            </div>

                            <div class="wp-media tab-pane" id="wpm-video">
                                Video Links - Coming soon...
                            </div>

                            <div class="wp-media tab-pane" id="wpm-link">
                                Links - Coming soon...
                            </div>
                        </div>
                    </div>

                    <ul class="list-unstyled clearfix wpb-actions">
                        <li class="wpba-attrs">
                            <ul class="list-unstyled list-inline">
                                <li><a data-wpba="link" data-toggle="tab" href="#" data-target="#wpm-link"><i class="zmdi zmdi-link"></i></a></li>
                            </ul>
                        </li>

                        <button class="btn btn-primary btn-sm btn-icon"><i class="zmdi zmdi-check"></i></button>
                    </ul>
                </div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <div class="media">
                        <div class="pull-left">
                            <img class="avatar-img a-lg" src="{{ asset('bundles/espritsocialpro/index/img/profile-pics/2.jpg') }}" alt="">
                        </div>

                        <div class="media-body m-t-5">
                            <h2>Midani Rachdi <small>Publié en 29 Septembre 2015 à 02:10</small></h2>
                        </div>
                    </div>
                </div>

                <div class="card-body card-padding p-t-0">
                    <p>Diginium Graphics is looking for an Web Full-Stack (Front-End & Back-End) Developer for an internship "Stage PFE". This is an opportunity that can turn into a Full-Time position at Diginium Graphics if proven skills and motivation.


                        Overview
                        Diginium Graphics is a Tunisian software...</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="media">
                        <div class="pull-left">
                            <img class="avatar-img a-lg" src="{{ asset('bundles/espritsocialpro/index/img/profile-pics/3.jpg') }}" alt="">
                        </div>

                        <div class="media-body m-t-5">
                            <h2>Nadia Zayene <small>Publié en 30 Septembre 2015 à 22:00</small></h2>
                        </div>
                    </div>
                </div>

                <div class="card-body card-padding p-t-0">
                    <p>Nous recherchons un développeur expérimenté H/F.
                        Vous travaillerez en collaboration avec l'équipe technique existante pour concevoir et améliorer les services développés l'agence ainsi que les solutions conçues pour nos...</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="media">
                        <div class="pull-left">
                            <img class="avatar-img a-lg" src="{{ asset('bundles/espritsocialpro/index/img/profile-pics/4.jpg') }}" alt="">
                        </div>

                        <div class="media-body m-t-5">
                            <h2>Yassine Ben Abderrabba <small>Publié en 18 Mai 2015 à 01:10</small></h2>
                        </div>
                    </div>
                </div>

                <div class="card-body card-padding p-t-0">
                    <p>Société spécialisé dans le développement web, recrute un intégrateur web.
                        Ingénieur (Bac + 5) ou diplômé en informatique (Bac+3/4), avec une expérience de 1 ans ou plus.
                        Vous êtes un passionné par le web et les nouvelles technologies, vous recherchez des projets innovants.
                        Exigences de...</p>
                </div>
            </div>
            <!--
            <div class="card">
                <div class="card-header">
                    <div class="media">
                        <div class="pull-left">
                            <img class="avatar-img a-lg" src="img/profile-pics/3.jpg" alt="">
                        </div>

                        <div class="media-body m-t-5">
                            <h2>Felix Harper <small>Posted on 29th Aug 2015 at 02:10</small></h2>
                        </div>
                    </div>
                </div>

                <div class="card-body card-padding p-t-0">
                    <p>Aliquam vel sem ut ligula posuere viverra. Ut dolor nisi, fringilla quis consectetur maximus, finibus vel diam. Duis condimentum, diam in semper congue, tortor orci condimentum urna</p>
                </div>
            </div>
            -->
        </div>
        <div class="col-md-4 hidden-sm">
            <div class="card">
                <div class="card-header">
                    <h2>A propos de Moi</h2>
                </div>

                <div class="card-body card-padding">
                    Maecenas malesuada. Nam adipiscing. Etiam vitae tortor. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. <a data-ui-sref="pages.profile.profile-about"><small>Read more...</small></a>
                </div>
            </div>

            <div class="card picture-list">
                <div class="card-header">
                    <h2>Photos <small>Cras congue nec lorem eget posuere</small></h2>

                    <ul class="actions">
                        <li class="dropdown action-show" dropdown>
                            <a href="#" dropdown-toggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="#">Refresh</a>
                                </li>
                                <li>
                                    <a href="#">Manage Widgets</a>
                                </li>
                                <li>
                                    <a href="#">Widgets Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="pl-body clearfix">
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/7.png") }}" alt="">
                        </a>
                    </div>

                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/1.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/3.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/9.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/8.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/7.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/6.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/5.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/4.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/3.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/2.png") }}" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="{{ asset("bundles/espritsocialpro/index/img/headers/square/1.png") }}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>Contacter <small>Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero</small></h2>
                </div>
                <div class="card-body card-padding">
                    <div class="pmo-contact">
                        <ul>
                            <li class="ng-binding"><i class="zmdi zmdi-phone"></i> 00971123456789</li>
                            <li class="ng-binding"><i class="zmdi zmdi-email"></i> malinda.h@gmail.com</li>
                            <li class="ng-binding"><i class="zmdi zmdi-facebook-box"></i> malinda.hollaway</li>
                            <li class="ng-binding"><i class="zmdi zmdi-twitter"></i> @malinda (twitter.com/malinda)</li>
                            <li>
                                <i class="zmdi zmdi-pin"></i>
                                <address class="m-b-0 ng-binding">
                                    44-46 Morningside Road,<br>
                                    Edinburgh,<br>
                                    Scotland
                                </address>
                            </li>
                        </ul>
                    </div>

                    <a class="pmo-map" href="#">
                        <img src="{{ asset("bundles/espritsocialpro/index/img/demo/map.png") }}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
