{% extends '@Espritsocialpro/layout.html.twig' %}

{% block titreheader %}
    Recherche Des employés
{% endblock %}
{% block active2 %} class="sub-menu active" {% endblock %}
{% block active21 %} class="active" {% endblock %}
{% block descheader %}

{% endblock %}

{% block bodyheader %}

{% endblock %}

{% block bodymain %}
    <div class="card">
        <div class="card-header" style="display:inline-flex">
            <input type="text" class="search-field form-control" placeholder="Rechercher..."/>
            <button class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-search"></i></button>
        </div>
        <table id="data-table-basic" class="table table-striped">
            <thead>
            <tr>
                <th style="color: #0a6ebd" data-column-id="matricule" data-type="numeric">Matricule</th>
                <th style="color: #0a6ebd" data-column-id="email">E-mail</th>
                <th style="color: #0a6ebd" data-column-id="nom">Nom</th>
                <th style="color: #0a6ebd" data-column-id="prenom" data-order="desc">Prenom</th>
                <th style="color: #0a6ebd" data-column-id="datenaiss" data-order="desc">Date de naissance</th>
                <th style="color: #0a6ebd" data-column-id="sexe" data-order="desc">Sexe</th>
                <th style="color: #0a6ebd" data-column-id="numtel" data-order="desc">Numtel</th>
                <th style="color: #0a6ebd" data-column-id="actions">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for x in users %}
            <tr>
                <td>{{ x.matricule }}</td>
                <td>{{ x.email }}</td>
                <td>{{ x.nom }}</td>
                <td>{{ x.prenom }}</td>
                <td>{{ x.datenaiss|date("d-m-Y") }}</td>
                <td>{{ x.sex }}</td>
                <td>{{ x.numtel }}</td>
                <td><a  href="#" class='btn palette-Light-Green bg btn-icon waves-effect waves-circle waves-float'><span class='zmdi zmdi-edit'></span></a>
                    <a  href="{{ path('supp_employe',{'id':x.id}) }}" class='btn btn-danger btn-icon waves-effect waves-circle waves-float'><span class='zmdi zmdi-delete'></span></a></td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% block tabscript %}

    {% endblock %}
{% endblock %}
